$dark: #19191c;
$lessDark: #303035;
$mediumGrey: #666;
$grey: #ccc;
$lightgrey: #e4e4e4;

$gutter: 16px;
$minWidth: 320px;
$maxWidth: 1fr;

/*
1. 1:1 - 100%
2. 16:9 - 56.25%
3. 4:3 - 75%
4. 3:2 - 66.66%
5. 8:5 - 62.5%
*/
$ratio: 56.25%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $dark;
}
ul,
li {
  list-style: none;
}

.post-list {
  padding: $gutter;
  display: grid;
  grid-gap: $gutter;
  /*
      Minimum Width = 368px
      Maximum Width = 1fr i.e full width
      A card will wrap to next row if the browser can not fit cards with their minimum width
      
      auto-fill - this will try to fill all the columns or leave an empty columns if there aren't enough cards
      */
  grid-template-columns: repeat(auto-fit, minmax($minWidth, $maxWidth));
  // auto-fit - this will fit all the cards in single row if the browser's width is equal to width of all the cards combine + gap
  // grid-template-columns: repeat(auto-fit, minmax($minWidth, $maxWidth));

  @media screen and (max-width: 320px) {
    grid-template-columns: repeat(auto-fit, minmax(100%, $maxWidth));
  }
}

.post {
  border-radius: 5px;
  // overflow: hidden;
  position: relative;

  .image {
    z-index: 3;

    width: 100%;
  }

}

.mini-modal {
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;

  .image {
    width: 100%;
    z-index: 3;
    &-container{
      width: 100%;
    }
  }

}

.text-container {
  background-color: $lessDark;
  padding: 25px;
  color: white;
  margin-top: -4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;

  .title {
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    display: inline-block;
  }
  .category {
    text-align: right;
    display: inline-block;
    margin-top: 10px;
    
  }
}
.mini-modal{
  .text-container{
    opacity: 1;
  }
}